* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #00bfa5;
}

section {
    height: 90vh;
    width: 80vw;
    margin: 5vh auto;
}

.fa {
    font-size: 25px;
    margin: 0 10px;
    color: #b1b3b2
}


/* *****ASIDE***** */

aside {
    height: 100%;
    width: 30%;
    float: left;
}

.part-one {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
}

.part-two {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #8edafc;
}

.part-two i {
    padding: 10px;
    border-radius: 50%;
    margin-left: 20px;
    background-color: white;
    color: rgb(135, 206, 250);
}
.ring-bell {
    display: flex;
    align-items: center;
}

.part-three {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fafafc;
}

.part-three span {
    flex-basis: 100%;
    height: 35px;
    width: 100%;
}

.part-three input {
    height: 35px;
    width: 80%;
}

.part-four {
    height: calc(100% - 185px);
    width:100%;
    overflow-y: scroll;
    background-color: white;
}

.cont-1 {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.contact {
    display: flex;
    align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 20px;
}

.text-info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid yellow; */
}

/* *****MAIN***** */

main {
    height: 100%;
    width: 70%;
    float: left;
}

.up {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
}

.fix {
    display: flex;
    align-items: center;
}

.middle {
    height: calc(100% - 140px);
    width: 100%;
    overflow-y: scroll;
    background-color: #e6ddd6;
    padding: 0 50px;
}

.message {
    max-width: 20%;
    min-width: 30%;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
}

.message-bottom {
    text-align: right;
}

.received {
    background-color: white;
    float: left;
    clear: both;
}

.sent {
    background-color: #00bfa5;
    float: right;
    clear: both;
}

.down {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3eeea;
}

.d-1 {
    display: flex;
    justify-content: center;
    flex-basis: 10%
}

.d-2 {
    flex-basis: 80%
}


.down input {
    height: 35px;
    width: 100%;
    border: none;
}
